.footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1rem;
}

#arrow {
  background-image: url("uparrow.png"); 
  width: 50px;
  height: 50px;
  /*background-color: black;*/
  
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 60px;
  }

  50% {
    top: 0px;
  }

  80% {
    top: 60px;
  }

  100% {
    top: 150px;
  }
}

#block {
  width: 20px;
  height: 40px;
  position: relative;
  top: -50px;
  left: 580px;

  background-color: black;
  background-size: 20px 40px;

  animation: block 1s 10 linear;
}

@keyframes block {
  from {
    background-color: red;}
  to {
    background-color: green;}
  0%{
    left: 580px;
  }

  100% {
    left: -20px;
  }
}
